<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if !@artist.songs.empty?
      @artist.songs.each do |song| %>
      <%= song.name %><br />
      <a href="/songs/<%= song.slug %>"<br />
        <% end %>
        <% end %>

      <% if !@artist.genres.empty?
        @artist.genres.each do |genre| %>
        <%= genre.name %><br />
        <a href="/genres/<%= genre.slug %>"<br />
          <% end %>
          <% end %>




  </body>
</html>
